.slider-img{
    width: 400px;
    height: 400px;
}
.btn-color{
    background-color: #0071e3;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
.fa-angle-right{
    color: #0071e3;
}
a:hover {
    text-decoration: underline;
}
.btn-color:hover {
    background-color: #0071e3e3;
    color: white;
}
.my-card-img:hover {
    transform: scale(1.05);
}
.my-card-img{
    transition: transform 1s;
}
